<h1><a href="/" class="btn btn-secondary" ><i class="fa fa-plus"></i> create new record</a> employee list</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>fullname</th> 
            <th>email</th>
            <th>mobile</th>
            <th>city</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
    {{#each list}}
    <tr>
    <td>{{this.fullname}}</td>
    <td>{{this.email}}</td>
    <td>{{this.mobile}}</td>
    <td>{{this.city}}</td>
    <td>
        <a href="/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
        <a href="/delete/{{this._id}}" onclick="return confirm('do you really want to delete the record?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
    </td>
    </tr>
    {{/each}}
    </tbody>
</table>
